<mat-toolbar   class="mat-elevation-z20" height="3.5rem" >
  <div>
    <span id="logo">OrderStack<sup>TM</sup></span>
  </div>
  <div class="spacer"></div>
  <span id="name">TNGONE</span>
</mat-toolbar>
<div class="mat-elevation-z10">

<img [src]="myImage1" width=100% class="mat-elevation-z12">
</div>

<mat-toolbar  id="menu"   >

  <div class="spacer" ></div>
<mat-icon aria-hidden="false" aria-label="Example home icon">restaurant</mat-icon>

  <button mat-button>Signature Additions</button>
  <button mat-button>Soups</button>
  <button mat-button>Pizza</button>
  <button mat-button>Appetizer</button>
  <button mat-button>Specialties</button>
  <button mat-button>Steak & Seafood</button>
  <mat-icon id="resicon">restaurant_menu</mat-icon>

</mat-toolbar>


